@use '../custom'as *;
@use '../components/mixins'as *;

.signup {
    font-family: 'Montserrat Alternates', sans-serif;
    background: linear-gradient(90deg, rgba(19, 21, 51, 1) 0%, rgba(59, 1, 88, 1) 50%, rgba(252, 121, 55, 1) 100%);
    padding: 8rem;
}

@media (min-width:768px) {
    .signup-input {
        width: 50%;

    }
}