@use '../custom'as *;
@use '../components/mixins'as *;

.team {
    background: linear-gradient(to right, rgba(#131533, 0.95), rgba(#5c008A, 0.95));
    font-family: 'Montserrat Alternates', sans-serif;
    color: linear-gradient(90deg, rgba(19, 21, 51, 1) 0%, rgba(59, 1, 88, 1) 50%, rgba(252, 121, 55, 1) 100%);
}

.team-color {
    color: linear-gradient(90deg, rgba(19, 21, 51, 1) 0%, rgba(59, 1, 88, 1) 50%, rgba(252, 121, 55, 1) 100%);
}