@use '../custom'as *;
@use '../components/mixins'as *;

.intro {
  font-family: 'Montserrat Alternates', sans-serif;

  @media (min-width: 480px) {
    .title {
      font-size: small;
    }
  }
}

.partners {
  font-family: 'Montserrat Alternates', sans-serif;

}

.news {
  font-family: 'Montserrat Alternates', sans-serif;
}

.demo {
  font-family: 'Montserrat Alternates', sans-serif;
}

.careers-head {
  font-family: 'Montserrat Alternates', sans-serif;
}

.hero-title{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-size:3.5rem;
  padding-top: 30px;
  display: flex;
  justify-content: center;

}
.hero-text{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 200;
  font-size:1.5rem;

}